* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.button-container {
    display: flex;
    gap: 20px;
}

.button {
    padding: 15px 25px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.red {
    background-color: #FF0000;
}

.black {
    background-color: #000000;
}

.white {
    background-color: #FFFFFF;
    color: #000; /* Texto em preto para contraste */
}

.button:hover {
    opacity: 0.8;
}